*{
box-sizing: border-box;
}

ul{
	margin: 0px; 
	position: relative;
}

#nav-list{
	border:2px solid #334d4d;
	background-color: #c2d6d6;
}

#navbar-collapse{
	background-color: #c2d6d6; 
}
#toggle-chicken, #toggle-beef, #toggle-sushi{
	border: 1px solid #334d4d;
	margin: 0px;
    font-size: 1em;
    letter-spacing: .1em;
    text-transform: uppercase;
}

#title{
	color: #334d4d;
	font-weight: bold;
	font-size: 2.5em;
}

#main-content{
	height: 10000px;
	background-color: #d1e0e0;
	margin-left: 2.5%;
	margin-right: 2.5%;
}

#chicken-tile, #beef-tile, #sushi-tile {
  color: #334d4d;
  font-weight: bold;
  font-size: 1.5em;;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  position: relative;
  overflow: hidden;
}


p{
	font-size:0.75em;
}